{% extends "blog/base.html" %}

{% block content %}
    {% if validlink %}
        <p>Inserisci la nuova password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nuova password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Conferma password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset fallita</h1>
        <p>Il reset della password non è andato a buon fine, forse il link è già stato usato. Riprova a fare richiesta di una nuova password</p>
    {% endif %}
{% endblock %}