{% extends 'blog/base.html' %}

{% block content %}
    <p>Numero totale autori: {{ authorNumber }}</p>
    <p>Numero totale post: {{ postNumber }}</p>
    <div>
        {% for key, value in numberPostAuthor.items %}
            <p>l'utente: {{ key }} ha pubblicato {{ value }} post</p>
        {% endfor %}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome Autore</th>
                <th scope="col">Titolo Post</th>
                <th scope="col">Data dipubblicazione</th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">{{ post.author }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.published_date }}</td>
                <td><a href="{% url 'delete_post' pk=post.pk %}" class="btn btn-danger">Elimina</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Cerca la parola nei post</p>
    <form method="GET" class="post-form" action="{% url 'search' %}">
        <input type="text" class="form-control" placeholder="search" aria-label="search" name="search">
        <button type="submit" class="save btn btn-primary">Cerca</button>
    </form>

{% endblock %}